---
import { getCollection } from "astro:content";
import FormateDate from "../../components/FormateDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout pageTitle="Blog">
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <FormateDate date={post.data.pubDate} />
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li :global(time) {
    flex: 0 0 150px;
    font-style: italic;
    color: #595959;
  }
  ul li p {
    margin: 0 10px;
  }
</style>
