---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  // const allPosts = await Astro.glob('../../content/blog/*.md');
  const allPosts = await getCollection('blog');
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
---
<BaseLayout pageTitle={tag}>
  <p>与 {tag} 有关的文章有</p>
  <ul>
    {filteredPosts.map((post) => <li><a href={`/blog/${post.slug}`}>{post.data.title}</a></li>)}
  </ul>
</BaseLayout>
<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li :global(time) {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li p {
    margin: 0 10px;
  }
</style>