---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>你好</h1>
  <p>欢迎来到Fghk的博客，本人是在读大学生，利用博客对自己的学习做一些记录</p>
  <p>梦想是能做自己想做的事，写自己想写的东西</p>
  <p>
		除了编程以外，我还喜欢摇滚，喜欢折腾下键盘，喜欢一个人打打单机游戏，同时还是一个老二次元
  </p>
  <img
    src="https://github.com/1665800095fghk/images/blob/main/blog/lxq.png?raw=true"
    alt=""
  />
</BaseLayout>