---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>你好, 我是<span class="b">Fghk</span></h2>
  <p>我的目标是成为一名全能的CSer, 目前正努力学习中, 利用博客进行学习记录</p>
  <p>我是一个重度二次元, 众所周知，写代码的都是二次元(暴论)</p>
  <p>我个人还喜欢听听歌, 写写代码, 还会时不时出去骑车</p>
  <img src="https://github.com/1665800095fghk/images/blob/main/meri.jpg?raw=true" alt="">
</BaseLayout>