---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>你好, 我是<span class="b">Fghk</span></h2>
  <p>一名普通的CSer, 喜欢听歌</p>
  <p>众所周知，写代码的都是二次元(暴论), 所以我也是</p>
  <p>梦想是成为CS高手(bushi</p>
  <img src="https://github.com/1665800095fghk/images/blob/main/meri.jpg?raw=true" alt="">
</BaseLayout>