---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>你好</h1>
  <p>欢迎来到<span class="b">Fghk</span>的博客，本人是在读大学生</p>
  <p>目前努力学习中，对一切新鲜事物了充满兴趣</p>
  <p>梦想是能做自己想做的事，写自己想写的东西</p>
  <p class="life_motto">
    <span>旁观</span>
    <span>节制</span>
    <span>克制</span>
    <span>守秘</span>
  </p>
  <img
    src="https://github.com/1665800095fghk/images/blob/main/blog/lxq.png?raw=true"
    alt=""
  />
</BaseLayout>