---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<h1>你好</h1>
	<p>欢迎来到Fghk的博客，本人是在读大学生，利用博客对自己的学习做一些记录</p>
	<p>梦想是能做自己想做的事，写自己想写的东西</p>
	<p>爱好的话，平时除了编程外，还会弹弹电吉他，搞搞键盘键盘客制化，心血来潮了也会打打游戏，也喜欢在没事的时候跑步</p>
	<p>除此之外，我还是一个非常乐于折腾的人，热衷于折腾各种各样的东西</p>
	<img src="/public/lxq.jpg" alt="">
</BaseLayout>
